.navbar-container {
  background-color: #F7934C;
  padding: 10px;
  height: 75px;
  display: flex;
  flex-direction: row;
  width: 100%;
  /*border-bottom: 2px black solid; */
}

.topNav {
  margin-right: 25px;
}

.topNav img {
  height: 3rem;
  width: 3rem;
}

.site-title {
  font-size: 24px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Montserrat';
  border-right: thin solid black;
  padding-right: 25px;
}

.nav ul {
  list-style: none;
  display: flex;
  padding: 0;

}

.nav li {
  margin-right: 20px;
  font-size: 24px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat';
}

.nav li.active {
  font-weight: bold;
}


@media (max-width: 1000px) {
  .navbar-container {
    background-color: #F7934C;
    padding: 8px;
    height: 60px;
    display: flex;
    flex-direction: row;
    width: 100%;
    /*border-bottom: 2px black solid; */
  }

  .topNav {
    margin-right: 25px;
  }

  .topNav img {
    height: 3rem;
    width: 3rem;
  }

  .site-title {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat';
    border-right: thin solid black;
    padding-right: 25px;
  }

  .nav ul {
    list-style: none;
    display: flex;
    padding: 0;

  }

  .nav li {
    margin-right: 20px;
    font-size: 20px;
  }

  .nav a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
  }

  .nav li.active {
    font-weight: bold;
  }
}

@media (max-width: 870px) {
  .navbar-container {
    background-color: #F7934C;
    padding: 8px;
    height: 60px;
    display: flex;
    flex-direction: row;
    width: 100%;
    /*border-bottom: 2px black solid; */
  }

  .topNav {
    margin-right: 20px;
  }

  .topNav img {
    height: 3rem;
    width: 3rem;
  }

  .site-title {
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat';
    border-right: thin solid black;
    padding-right: 25px;
  }

  .nav ul {
    list-style: none;
    display: flex;
    padding: 0;

  }

  .nav li {
    margin-right: 20px;
    font-size: 17px;
  }

  .nav a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
  }

  .nav li.active {
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .navbar-container {
    background-color: #F7934C;
    padding: 8px;
    height: 60px;
  }

  .topNav {
    margin-right: 25px;
  }

  .topNav img {
    height: 3rem;
    width: 3rem;
    display: none;
  }

  .site-title {
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat';
    border-right: thin solid black;
    padding-right: 25px;
  }

  .nav ul {
    list-style: none;
    padding: 0;
  }

  .nav li {
    margin-right: 20px;
    font-size: 15px;
  }

  .nav a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
  }

  .nav li.active {
    font-weight: bold;
  }
}

/************* footer *************/
.footer {
  background-color: #F7934C;
  display: flex;
  flex-direction: row;
  height: 200px;
}

.footer .title {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 23px;
  color: black;
  text-align: center;
  margin: auto;
}

.imgDiv {
  display: flex;
  justify-content: center;
}

.logo {
  height: 120px;
  width: 120px;
  margin: auto;
}

.footerLinks ul {
  list-style: none;
  margin: auto;
  margin-left: 40px;
}

.footerLinks {
  margin: auto;
}

.footerList li a{
  text-decoration: none;
  color: black;
  font-family: 'Montserrat';
}

.footerList li a.active {
  text-decoration: underline;
  font-weight: bold;
}

.projectInfo {
  font-family: 'roboto';
  color: black;
  margin: auto;
}

.projectInfo p {
  color: black;
  bottom: 0px;
  right: 0px;
  margin: auto;
  font-family: 'Montserrat';
}

h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Montserrat';
  font-size: 48px;
}

.paragraphDiv {
  margin: auto;
  width: 550px;
}

.paragraphDiv p {
  justify-self: center;
}

/* 404 Page */


/* Food Catalog Page*/
.catalog{
  font-family: 'Montserrat';
  text-align: center;
}

.catalog h2{
  font-size:3em;
  font-weight:bolder;
  margin-top:1em;
}

.catalog h3{
  font-size:1.75em;
  margin-bottom: 1.5em;
}

.catalog h4{
  font-size:1.125em;
  font-weight:bold;
}

.card{
  width: 250px;
  background-color: #98C9A3;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  border-radius: 20px;
  margin: 1em;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3); /*From https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow*/
}

.card-deck{
  margin-bottom: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-title{
  font-weight:bolder;
  font-size:1.5em;
}

.card-img-bot{
  width: 100%;
  height: 10vw;
  object-fit: cover;
  border: solid white 2px;
  border-radius: 20px;
}

#filter-box{
  text-align:left;
  background-color: #DDDDDD;
  border-radius: 20px;
  margin-left: 1em;
  padding:1.5em;
  max-height: 500px;
}

#filter-box label{
  display:block;
  margin-bottom: .1em;
}

.catalog-content{
  display: inline-flex;
}

/***************** home page ***************/

/* home page left align section */

.h1HomeHeaderLeft {
  text-align: left;
  margin-top: 5%;
  margin-left: 0%;
  margin-right: 0%;
  font-family: 'Montserrat';
  font-size: 2.8em;
}

.h1HomeHeaderLeftAlign {
  text-align: left
}

.pHomeLeft {
  text-align: left;
  margin-top: 2%;
  margin-left: 0%;
  margin-right: 0%;
  font-family: 'Montserrat';
  font-size: 1.2em;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

/* home page rest of section */

.h1HomeHeader {
  text-align: center;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Montserrat';
  font-size: 2.8em;
}

.h1Home {
  text-align: center;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Montserrat';
  font-size: 2.8em;
}

.h1HomeFinal {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Montserrat';
  font-size: 2.8em;
  text-decoration: underline;
  color:black
}

.pHomeHeader {
  text-align: center;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Montserrat';
  font-size: 1.8em;
}

.pHome {
  text-align: center;
  margin-top: 9%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Montserrat';
  font-size: 1.2em;
}

.pHomeCenter {
  text-align: center;
}

.paragraphDivHome {
  margin: 10%;
  width: 500px;
}

.paragraphDivHome p {
  justify-self: center;
}


.meal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.meal-card, .popup-card {
  background-color: #98C9A3;
  height: 300px;
  width: 250px;
  border-radius: 15px;
  margin: 10px;
}

.meal-card img {
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
  border-radius: 15px;
}

.popup-card img {
  width: 200px;
  height: 200px;
  margin-left: 25px;
  border-radius: 15px;
  margin-top: 20px;
}

.meal-title, .popup-card-title {
  font-weight: bold;
  font-size: 25px;
  font-family: "Montserrat";
  padding-top: 15px;
}

.meal-card p {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
}

.popup-card p{
  text-align: center;
  font-family: 'Montserrat';
  font-size: 18px;
  margin-top: 10px;
}

.popup-card {
  margin-right: 50px;
}

.popup-container {
  display: flex;
}

.close-button {
  background-color: #98C9A3;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-family: "Montserrat";
  border: none;
  position: relative;
  margin-top: 20px;
  left: 510px;
}

.close-button:hover {
  background-color: #7EB78C;
}

.popup-left p {
  font-family: "Montserrat";
}

.popup-left {
  width: 50%;
}

.label {
  background-color: white;
  width: 50%;
  height: 40%;
}

.label img {
  width: 100%;
  height: 500px;
}

.button-div {
  display: grid;
}



.meal-card button {
  font-family: "Montserrat";
  background-color: transparent;
  border: none;
  color: #3B63CA;
  font-size: 20px;
}

.button-text {
  text-decoration: underline;
}

.meal-page {
    justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup {
  background-color: #F7934C;
  padding: 20px;
  max-width: 700px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 9999;

}

.popupContent h2{
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 35px;
}



/* 404 Page */
/*
body {
  position: absolute;

/************** not-found page *************/
.not_found_page_body {
  width: 100%;
  display: grid;
  font-family: 'Montserrat';
  font-style: normal;
  justify-content: center;
  margin-top: 7em;
  margin-bottom: 7em;
}

.error_container {
  padding-left: 4em;
  display: flex;
  align-items: center;

}
.error_code {
  font-size: 5em;
}

.error_info {
  padding-left: 2rem;
}

.soup_container {
  display: flex;
  align-items: center;
}

.soup_subcontainer {
  padding-left: 2em;
}

.soup_image {
  width: 18em;
  height: 18em;
}

.button {
  height: 2.5em;
  width: 7em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  background-color: #98C9A3;
  color:#ffff;
  border-radius: 0.3em;
  font-size: 1.3em;
}


/* .btn {
  position: absolute;
  width: 180px;
  height: 60px;
  left: 687px;
  top: 698px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*
.homeimage {
  width: 100%
}
*/

/* Guidelines */
.fatsheading, .carbsheading, .protheading {
  text-align: center;
  color: gray;
}

.dgadiv {
  display: flex;
  align-items: center;
  padding: 50px;
}

.nutrientsdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.protdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.carbsdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  /* padding-top: 50px; */
  padding-bottom: 50px;
}

.fatsdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  /* padding-top: 50px; */
}

.dgaimg {
  max-width: 50%;
}

.protimg {
  max-width: 70%;
}

.whycarbsimg {
  max-width: 40%;
}

.carbsimg {
  max-width: 80%;
}

.dgatextcontainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.prottextcontainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.carbstextcontainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.fattextcontainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.protheading {
  margin-left: 25vh;
}

.dgadescr {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.protdescr {
  padding: 10px;
}


.fatblurb {
  max-width: 60%;
  float: right;
}


.fatsindiet {
  padding-left: 20px;
  padding-right: 20px;
}

.fatdescr {
  padding: 10px;
  text-align: center;
}


.nutrheading {
  text-align: center;
}


.compimg, .incompimg {
  max-width: 30%;
}

.heathfats, .satfats, .transfats {
  max-width: 30%;
}

.fatsindiet {
  max-width: 100%;
}